$primary-text-color: #546268;

body {
  line-height: 1.6;
  padding: .5em;

  a {
    color: white;
  }
}

header {

}

div {

}

section {

}

footer {
  background-color: black;
}

.top-bar {
  height: 3em;
  background-color: white;
  overflow: hidden;

  div {
    float: left;
  }

  p {
    color: $primary-text-color;
  }
}

.top-bar-logo-holder {
  margin: 0;
  width: 7.5em;
  height: 3em;
}

.top-bar-link {
  margin: .75em 2em;
  width: auto;
  height: auto;
}


.top-image {
  background-image: url("../resources/backgroundtree.jpg");
  background-position: 10% 10%;
  padding: 3em;

  p {
    font-size: 2em;
    color: white;
    text-align: center;
    margin: auto;
  }
}

.plan-shelf {
  .plan-plaque {
    .plan-pane {
      color: white;
    }
  }
}

.plan-name {
  font-size: 1em;
  letter-spacing: 4px;

}

.price-text {
  margin: 0;
  font-size: 4em;
}

.permonth {
  color: white;
  opacity: .5;
  font-size: 1.25em;
}

.plan-plaque {
  background-color: white;

}

.pane-five {
  background-color: #519251;
}

.pane-twofive {
  background-color: #2C4985;
}

.pane-fourfive {
  background-color: black;
}


.plan-pane {

  margin: 2em 1em 0 1em;
  padding: 1.5em 2em 1.5em 2em;

  p {
    text-align: center;
    margin: 0 auto;
  }
}

.plan-features {
  list-style: none;
  text-align: center;
  padding: 0em;
  margin: 0em;

  li {
    color: $primary-text-color;
    display: block;
    background-color: #F7F7F7;
    border-style: solid;
    border-width: 1px;
    border-color: #E7E7E7;
    margin: 0 1em;
    padding: .75em;
  }
}

.plan-shelf {
  .plan-plaque {
    .plan-choose {

      background-color: white;

      .choose-button {
        border-style: solid;
        border-radius: 2em;
        border-width: 1px;
        border-color: $primary-text-color;
        background-color: white;
        height: 2em;
        width: 6em;
        margin: 1em auto;

        p {
          text-align: center;
          margin-top: .25em;
        }
      }
    }
  }
}

.choose-button {
  margin: 1em auto;
}

.info-shelf {
  background-color: white;
  margin: 4em 2em;
}

.info-plaque {
  width: auto;
  height: auto;
}

.info-header {
  p {
    font-size: 1.15em;
    letter-spacing: 4px;
  }
}

.info-text {
  color: $primary-text-color;

}

.bottom-bar {
  padding: 1em;

  p {
    color: gray;
    text-align: center;
  }
}



@media (min-width: 479px) {
  body, section, div, header, footer, p, h1, h2, h3, h4, h5, h6,
  ul, li{
    max-width: 478px !important;
  }

}
