body {
  background-color: orange;
  max-width: 478px;
  line-height: 1.6;
}

header {
  height: 3em;
  background-color: purple;
  overflow: hidden;

  div {
    float: left;
  }
}

div {

}

div:nth-child(odd) {
  background-color: teal;
}

section {
  height: 30em;
  margin: .5em;
  background-color: red;
}

footer {
  background-color: black;
}

.top-image {
  background-image: url("../resources/backgroundtree.jpg");
  background-position: 10% 10%;
}

.topbar {
  height: 3em;
  background-color: black;
  overflow: hidden;
}

.top-bar-logo-holder {
  margin: 0;
  width: 7.5em;
  height: 3em;
}

.top-bar-link {
  margin: .75em 2em;
  width: auto;
  height: auto;
}

.info-plaque {
  width: auto;
  height: auto;
}

.info-text {

}
